openapi: 3.0.3
info:
  title: DOKUMEN API SALON E-LEARNING - OpenAPI 3.0
  description: >-
    Jelaskan disini apa saja yang perlu dijelaskan
    termasuk informasi yang diperlukan untuk dinilai
    term of service isi dari link repo dari swagger ini
  termsOfService: https://www.linkedin.com/in/raulmahya/
  contact:
    email: raulmahya11@gmail.com
  license:
    name: E-LEARNING SALON
    url: https://pkg.go.dev/github.com/raulmahya123/salon
  version: 1.0.11
externalDocs:
  description: Repo GCF
  url: https://pkg.go.dev/github.com/raulmahya123/salon
servers:
  - url: https://asia-southeast2-testlogin-366704.cloudfunctions.net
paths:
  /create-account-salon:
    post:
      tags:
        - USER
      summary: create account
      description: create account
      operationId: create account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createaccount'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createaccount'
        '405':
          description: Invalid input
  /getalll-account:
    get:
      tags:
        - USER
      summary: get account
      description: get account
      operationId: get account
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createaccount'
        '405':
          description: Invalid input
      security:
        - token: []
  /create-account-user:
    post:
      tags:
        - USER
      summary: Login User
      description: Login User
      operationId: Login User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth' # Gunakan skema yang sesuai di sini
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid input or request body
  /decode-token:
    post:
      tags:
        - USER
      summary: Get Token Login
      description: Get Token Login
      operationId: Get Token Login
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetToken'
        '400':
          description: Invalid input or request body
      security:
        - token: []
  /delete-account:
    delete:
      tags:
        - USER
      summary: delete account
      description: delete account
      operationId: delete account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createaccount' # Gunakan skema yang sesuai di sini
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/createaccount'
        '400':
          description: Invalid input or request body
      security:
        - token: []
  /forgot-password:
    post:
      tags:
        - USER
      summary: update password
      description: update password
      operationId: update password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth' # Gunakan skema yang sesuai di sini
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Auth'
        '400':
          description: Invalid input or request body
      security:
        - token: []    
components:
  schemas: 
    GetToken:
      type: object
      required:
        - status
        - data
        - message
      properties:
        status:
          type: boolean
          description: status
        data:
          type: object
          description: data
        message:
          type: string
          description: message
    createaccount:
      type: object
      required:
        - username
        - password
        - name
        - role
      properties:
        username:
          type: string
          format: username
          description: username
        password:
          type: string
          format: password
          description: password
        name:
          type: string
          description: name
        role:
          type: string
          description: role
    AuthResponse:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          format: username
          description: username
        password:
          type: string
          format: password
          description: password
    Authlogin:
      type: object
      required:
        - email
        - password
        - name
        - role
      properties:
        email:
          type: string
          format: email
          description: email
        password:
          type: string
          format: password
          description: password
        name:
          type: string
          description: name
        role:
          type: string
          description: admin | user
    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
    Auth:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          format: username
          description: username
        password:
          type: string
          format: password
          description: password
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
